*.class
*.log
.gitignore

# macOS
.DS_Store

# sbt
.bsp
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDEA 
.scala_dependencies
.worksheet
.idea
